@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.contentModal_portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}
.contentModal_landscape {
  object-fit: contain;
  border-radius: 10px;
}

.tagline {
  padding-bottom: 10px;
  align-self: center;
}
.contentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox*/
}
.contentModal::-webkit-scrollbar {
  display: none;
}
.contentModal_about {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
  height: 90%;
  font-family: 'roboto', sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}
.contentModal_title {
  height: 12%;
  font-size: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentModal_description {
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 15px;
  box-shadow: inset 0 0 5px #000000;
  border-radius: 20px;
  text-align: justify;
  scrollbar-width: thin; /* Firefox*/
}
.contentModal_description::-webkit-scrollbar {
  display: none;
}

@media (min-width: 835px) {
  .contentModal_landscape {
    display: none;
  }
  .contentModal_portrait {
    display: flex;
    width: 38%;
  }
  .contentModal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .contentModal_about {
    width: 58%;
    padding: 0;
    height: 100%;
  }
  .contentModal_title {
    font-size: 3vw;
  }
  .contentModal_description {
    font-size: 22px;
  }
}
